<template>
    <v-container>
        <div class="Home">
            <h1 class="red display-2 ">Bossun</h1>
            <h1 class="red darken-1 white--text"> Nattawat  Thong-aram</h1>

        </div>
    </v-container>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>
